@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

* {
  font-family: "DM Sans", sans-serif;
}

.logo {
    width: 150px;
    height: 37.5px;
    margin-top: 40px;
    margin-left: 20px;
}